* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
svg {
  height: 100%;
  width: 100%;
}
textpath  .Text1 {fill="gold"}
 body .lamp{
	height:590;
	width:100;
	bottom:auto;
	position:Fixed; 
 	 bottom: -70%;
  	left: 35%
	
}
lamp .a{
	top:0;
	left:45;
}
lamp .img{transform: translate(-50%, -50%);}
