* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
svg {
  height: 100%;
  width: 100%;
}
body{
	
	overflow:hidden;
height: 100%;
  width: 100%;
}
body .textcurve {fill="gold" ;	 startoffset:20}

}
lamp{
    width: 175px;
    height: 175px;
    line-height: 175px;



	
}
lamp .a{
   width: 100%;

 	left:50;
	right:50;

    bottom: 0px;
	
}
lamp .img{ margin:auto; /* Required */
 /* Required */
}
