* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

svg {
  height: 100%;

	
  width: 100%;

}

body{
overflow:hidden;
height: 100%;
	
 width: 100%;

}
body .textcurve {fill="gold" ;	 startoffset:20}

}
lamp{
    width: 175px;
    height: 175px;
    line-height: 175px;



	
}
lamp .a{
   width: 100%;

 	left:50;
	right:50;

    bottom: 0px;
	
}
lamp .img{ margin:auto; /* Required */
 /* Required */
}
image{text-align:center;}
@media all and (min--moz-device-pixel-ratio:0) and (min-resolution: 3e1dpcm) { 
body .textcurve {fill="gold" ;	 startoffset:20}
svg {
  height:90%;

	
  width:100%;

}
	body .textcurve {fill="gold" ;	 startoffset:10}
lamp .a{
   width: 100%;



    bottom: 0px;
	
}
body{
overflow:hidden;
height: 90%;
	
 width: 100%;

}

}