/* Otherpage.css */

/* Reset default browser styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Main styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

    .topnav a {
        float: left;
        color: #fff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        .topnav a:hover {
            background-color: #555;
        }

        .topnav a.active {
            background-color: #4CAF50;
        }

.Main {
    margin: 20px;
    text-align: center;
}

.logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.BottomBar {
    margin-top: 50px;
    text-align: center;
}

hr {
    border: none;
    height: 1px;
    background-color: lime;
    margin: 10px auto;
    width: 100%;
}

p {
    line-height: 1.5;
}

.social-logo {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

/* Vendor prefixes for cross-browser compatibility */
@media (-moz-touch-enabled: 0), (pointer: fine) {
    .social-logo {
        filter: grayscale(100%);
    }
}

/* Firefox specific styles */
@-moz-document url-prefix() {
    .social-logo {
        filter: grayscale(100%);
    }
}
